{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div  tabindex="-1" aria-labelledby="inscriptionModalLabel">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="container-fluid">
                        <div class="row gy-4">
                            <div class="col-lg-4 col-sm-12 bg-cover"
                                 style="background-image: url('{{ asset('assets/img/inscription.jpg') }}'); min-height:300px;">
                                <div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <form action="{{ path('app_register') }}" method="post" class="p-lg-5 col-12 row g-3">
                                    {{ form_start(registrationForm) }}
                                    <div>
                                        <h1>INSCRIPTION</h1>
                                    </div>
                                    <div class="col-12">
                                        {{ form_row(registrationForm.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Jon'}}) }}
                                    </div>
                                    <div class="col-12">
                                        {{ form_row(registrationForm.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Doe'}}) }}
                                    </div>
                                    <div class="col-12">
                                        {{ form_row(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Johndoe@example.com'}}) }}
                                    </div>
                                    <div class="col-12">
                                        {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre mot de passe'}}) }}
                                    </div>
                                    <div class="col-12">
                                        <input type="password" class="form-control" placeholder="Entrez votre mot de passe" id="ConfirmPassword" aria-describedby="passwordHelp">
                                    </div>
                                    <div class="col-lg-6">
                                        {{ form_row(registrationForm.zipcode, {'attr': {'class': 'form-control', 'placeholder': '45100'}}) }}
                                    </div>
                                    <div class="col-lg-6">
                                        {{ form_row(registrationForm.city, {'attr': {'class': 'form-control', 'placeholder': 'Orléans'}}) }}
                                    </div>
                                    <div class="col-lg-6">
                                        {{ form_row(registrationForm.address, {'attr': {'class': 'form-control', 'placeholder': '3 place du bois'}}) }}
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" placeholder="App 171" id="userComplement"
                                               aria-describedby="emailHelp">
                                    </div>

                                    <div class="text-center col-12">
                                        <button type="submit" class="btn btn-brand">S'incrire</button>
                                    </div>
                                    <div>
                                        <p>Si vous êtes déjà inscrit, cliquez ici <a href="#connexionModal" data-bs-toggle="modal" data-bs-target="#connexionModal" data-bs-dismiss="modal">Se Connecter</a></p>
                                    </div>
                                    {{ form_end(registrationForm) }}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
